<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="/app" class="active">Home/HTML</a>
            </li>
            <li>
                <a href="/Api">Api</a>
            </li>
        </ul>
    </div>
</nav>