<div class="container">
    <h3>Links to api resources</h3>
    
    <ul class="list-group">

        {{#each links}}
        <li class="list-group-item">
            <a href="{{this}}">{{this}}</a>
        </li>
        {{/each}}

    </ul>
</div>